<div class="overlay" *ngIf="showPopup"></div>
<div id="feedbackDiv" *ngIf="showPopup" class="popup-container">
    <p class="text">Additional feedback</p>
    <textarea class="data" [(ngModel)]="feedbackText" (input)="updateSubmitButtonState()"
        placeholder="Type here..."></textarea>

    <div class="btn-container">
        <button class="cancel"  (click)="cancelButton()">CANCEL</button>
        <button  (click)="submitFeedback(feedbackText)" class="submitBtn" [disabled]="isSubmitDisabled">SUBMIT</button>
    </div>
    <!-- Success message display -->
    <p *ngIf="successMessage" class="successtext1"> <i class="bi bi-check-circle-fill text-success"
            style="height: 24px; width: 24px;"></i> {{ successMessage }}</p>
</div>